
@{
    ViewBag.Title = "Home Page";
}

<div class="card-deck">
    

            <div class="card text-center">
                <div class="card-img-top" src="" alt="Book Image"></div>
                <div class="card-body">
                    <h4 class="card-title">Book Title</h4>
                    <p class="card-text">Description</p>
                </div>  
                <div class="card-footer">
                    <div class="float-left">
                        <a href="#">Heart</a>
                        <a href="#">Comment</a>
                    </div>
                    <div class="float-right">
                        <small>Rating: <strong>7.8</strong></small>
                    </div>
                </div>
            </div>
        
</div>