@model  IEnumerable<CodeGeist2019.Models.Book>
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
@foreach (var item in Model)
{
    <div class="card-deck col-md-3" id="pady">
        <div class="card text-center">
            <div class="card-img-top" src="" alt="Book Image"></div>
            <div class="card-body">
                <h4 class="card-title">@item.Title</h4>
                <p class="card-text">@item.Description</p>
            </div>
            <div class="card-footer">
                <div class="float-left">
                   <a href="/"><img id="sizing" src="~/Content/SVG/heart-solid (1).svg"/></a>
                    <a href="#">Comment</a>
                </div>
                <div class="float-right">
                    <small>Rating: <strong>@item.Rating</strong></small>
                </div>
            </div>
        </div>
    </div>


}
</div>    

<style>
    #pady {
        
       margin-bottom:30px;
    }
    #sizing {
       height:16px;
       width:16px;
        
    }
</style>